.tabs {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.tabs .tabs-nav .tabs-nav-item {
  background: #eee;
  border-left: 1px solid #999;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  border-radius: 3px 3px 0 0;
  float: left;
  margin-right: 5px;
  margin-bottom: -1px;
}

.tabs .tabs-nav .tabs-nav-item:first-child {
  margin-left: 5px;
}

.tabs .tabs-nav .tabs-nav-item.selected {
  background: #fff;
  border-bottom: 1px solid #fff;
}

.tabs .tabs-nav .tabs-nav-item.selected .tabs-nav-link {
  color: #000;
  font-weight: bold;
}

.tabs .tabs-nav .tabs-nav-item .tabs-nav-link {
  color: #555;
  display: block;
  padding: 9px 12px 9px 12px;
  text-decoration: none;
  white-space: nowrap;
  outline: none;
}

.tabs .tabs-nav .tabs-nav-item .tabs-nav-link:hover {
  color: #000;
}

.tabs .tab-panel {
  border: 1px solid #999;
  display: none;
  min-height: 300px;
  padding: 5px 0 0 0;
  text-align: justify;
  word-wrap: break-word;
}

.tabs .tab-panel .tab-content {
  border-top: 1px solid #999;
  padding: 10px;
}
